<!DOCTYPE html>
<html>

<head>
  <style>
    .item1 {
      grid-area: header;
    }

    .item2 {
      grid-area: menu;
    }

    .item3 {
      grid-area: main;
    }

    .item4 {
      grid-area: right;
    }

    .item5 {
      grid-area: footer;
    }

    .grid-container {
      display: grid;
      grid-template-areas:
        'header header header header header menu'
        'main main main right right menu'
        'footer footer footer footer footer menu';
      grid-gap: 10px;
      background-color: black;
      padding: 10px;
    }



    .grid-container>div {
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      padding: 1px 0;
      font-size: 30px;
    }

    body {
      background-color: black;
    }
  </style>

  {{> header}}
</head>

<body>

  <br>
  <br>
  <div class="grid-container">
    <div class="item4">
      <h3>Username: {{opponentUserName}}</h3>
      <h3>Enemy Hero: {{ opponentHero}}</h3>
      <img src="/cards/{{opponentHero}}.jpg">

    </div>
    <div class="item3">
      <h3>Health: {{opponentLife}}</h3>
      <h3>Mana: {{opponentMana}}</h3>
    </div>
    <div class="item2">
      {{!-- <button type="button"><img src="/cards/{{this}}.jpg"></button> --}}
      <h3>Log: {{{temp}}}</h3>
    </div>
    <div class="item5" style="overflow: scroll">
      {{#each opponentField}}
      <button type="button"><img src="/cards/{{this}}.jpg"></button>
      {{/each}}
    </div>
  </div>

  <div class="grid-container">
    <div class="item5" style="overflow: scroll" id="playerHand">
      {{#each playerHand}}
      <button type="button" onclick="{{handToDeck}}"><img src="/cards/{{this}}.jpg"></button>
      {{/each}}
    </div>
    <div class="item4">
      <h3>Your Hero: {{playerHero}}</h3>
      <img src="/cards/{{playerHero}}.jpg">
    </div>
    <div class="item3">
      <h3>Health: {{playerLife}} </h3>
      <h3>Mana: {{playerMana}} </h3>
    </div>
    <div class="item2">Deck: {{playerDeckSize}}</div>
    <div class="item1" id = "playerField">
      {{#each playerField}}
      <button type="button" ><img src="/cards/{{this}}.jpg"></button>
      {{/each}}
      
    </div>
  </div>

</body>

</html>